.address-signup-expander{
  min-height: 6000px;
  width: 100%;
}

.address-signup-expander.neighborhood{
  min-height: 3000px;
}

.search_address_page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
select.regionform-input {
  display: flex;
  flex-direction: column;
  width: 50vw !important;
  max-width: 300px !important;
  text-align: center;
  height: 30px;
}

form.regional-form{
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 90vw;
  max-width: 350px;
  padding: 5px;
  justify-content: flex-start;
  height: 75vh;
  margin-bottom: -20px;
}

.search_address_page h3{
  margin: 10px 0px 10px 0px
}

.search_address_page h1{
  font-size: 24px;
  text-align: center;
  padding: 0px 15px 0px 15px;
  font-weight: 300;
  font-weight: lighter;
  font-family: 'Merriweather', serif;
}

#country-select{
  display: flex;
  flex-direction: column;
  width: 50vw !important;
  max-width: 300px !important;
  text-align: center;
  height: 30px;
  z-index: 4;
}

#custom-select-country{
  z-index: 4;
}

#region-select{
  display: flex;
  flex-direction: column;
  width: 50vw !important;
  max-width: 300px !important;
  text-align: center;
  height: 30px;
  z-index: 3;
}

#custom-select-region{
  z-index: 3;
}

#county-select{
  display: flex;
  flex-direction: column;
  width: 50vw !important;
  max-width: 300px !important;
  text-align: center;
  height: 30px;
  z-index: 2;
}

#custom-select-county{
  z-index: 2;
}

#city-select{
  display: flex;
  flex-direction: column;
  width: 50vw !important;
  max-width: 300px !important;
  text-align: center;
  height: 30px;
  z-index: 1;
}

#custom-select-city{
  z-index: 1;
}

.city-notThere-container{
  margin: 40px 0px 40px 0px;
}

.regional-form-btns{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
}

/*
.region-start-over{
  color: #1fa245;
  background-color: #2A2C33;
  position: block;
  z-index: 0;
  margin-bottom: 40px;
  font-weight: bolder;
} */

#region-start-over-icon{
  color: white !important;
  background-color: #105130 !important;
  font-size: 1.5em !important;
  bottom: 6px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-weight: bolder;
  border-radius: 50%;
}
#region-start-over-icon:hover{
  cursor: pointer;
}

#go-to-neighborhoods-icon{
  color: #1fa245 !important;
  font-size: 2em !important;
  top: 10px;
  font-weight: bolder;
  animation: fade 2.5s ease 1 forwards;
  animation-iteration-count: infinite;
}

.searchAddress-next{
  background-color: #89868D;
  color: white;
  font-size: 0.9em;
  position: relative;
  margin-top: 40px;
  bottom: 0;
  animation: fade 2.5s ease 1 forwards;
  animation-iteration-count: infinite;
}

button.expansion-link{
  margin: 5px 0px;
  background-color: #89868D;
  color: white;
  font-size: 0.9em;
}

/*the container must be positioned relative:*/
.search_address_page .custom-select {
  position: relative;
  width: 100% !important;
  max-height: 80px;
  margin-bottom: 10px;
}

.search_address_page .custom-select select {
  display: none !important; /*hide original SELECT element:*/
}

.search_address_page .select-selected{
  width: 90%;
  background-color: #105130;
  color: white;
  z-index: -1;
}
/*style the arrow inside the select element:*/
.search_address_page .select-selected:after {
  position: absolute;
  content: "";
  top: 52px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.search_address_page .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 47px;
}
/*style the items (options), including the selected item:*/
.search_address_page .select-items div,.select-selected {
  padding: 5px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.search_address_page .select-items{
  z-index: 1;
}

.search_address_page .select-items div{
  color: black;
  background-color: #bdbec0;
  z-index: 1;
  font-size: 14px;
}
/*style items (options):*/
  /* .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  } */
/*hide the items when the select box is closed:*/
.search_address_page .select-hide {
  display: none;
}
.search_address_page .select-items div:hover, .same-as-selected {
  color: white;
  background-color: #2A2C33;
}

@keyframes fade {
  0% { opacity: 1 }
  50% { opacity: 1 }
  75% { opacity: 0 }
  100% { opacity: 1 }
}
