@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,800');

.landing-body{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
  flex: 1;
}

.landing-text{
  max-width: 350px;
}

.landing-text p{
  text-align: justify;
  font-family: 'Libre Franklin', Helvetica, sans-serif;
     font-weight: 400;
     color: #2a2c33;
     font-size: .875em;
     line-height: 1.4em;

}

.landing-text span{
  font-family: 'Libre Franklin', Helvetica, sans-serif;

}
span.span-cc-name {
  color: #219a60;
  font-style: italic;
  font-weight: 400;
}

span.opening-line{
  font-weight: 800;
  color: #219a60;
  font-size: .9rem;
}

span.italics {
  font-style: italic;
}

button.landing-button {
  bottom: 40px;
  font-size: 30px;
  font-weight: 300;
  height: 60px;
  position: absolute;
  margin-bottom: 15px;
  width: 100vw;
  max-width: 375px;
  text-transform: uppercase;
  background-color: #fce834;
  opacity: 0.5 !important;
  transition: opacity .3s;
  color: #2A2C33;
  border-radius: 5px;
  box-sizing: content-box;
}

button.landing-button:hover{
  background-color: #fce834;
  opacity: 1.0 !important;
  transition: opacity .3s;
}

.new-member-link{
  color: white;
  font-size: 24px;
  position: relative;
  bottom: 70px;
}

div.landing-button{
  flex-basis: 10vh;
  margin-bottom: 60px;
}

@media (max-width: 600px){
  .landing-text{
    max-width: 300px;

  }

  .landing-text p{
    text-align: justify;
    font-family: 'Libre Franklin', Helvetica, sans-serif;
       font-weight: 400;
       color: #2a2c33;
       font-size: .875em;
       line-height: 1.4em;

  }

  .landing-text span.opening-line{
    font-family: 'Libre Franklin', Helvetica, sans-serif;
             font-weight: 800;
             color: #219a60;
             font-size: .9rem;
  }

  button.landing-button {
    bottom: 40px;
    font-size: 28px;
    font-weight: 300;
    height: 55px;
    padding: 8px 18px;
    position: absolute;
    margin-bottom: 15px;
    width: 100vw;
    max-width: 300px;
    text-transform: uppercase;
    background-color: #fce834;
    opacity: 0.5 !important;
    transition: opacity .3s;
    color: #2A2C33;
    border-radius: 5px;
  }
}

@media (max-width: 400px){
  .landing-text p{
    font-family: 'Libre Franklin', Helvetica, sans-serif;
      text-align: justify;
       font-weight: 400;
       color: #2a2c33;
       font-size: .70em;
  }
  span.span-cc-name{
    font-size: .8rem;
  }
  h1.landing-header-h1{
    font-size: 3.2em;
  }
}

@media (max-width: 330px){
  div.landing-text{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing-text p{
    font-family: 'Libre Franklin', Helvetica, sans-serif;
      text-align: justify;
       font-weight: 400;
       color: #2a2c33;
       font-size: .75em;
       line-height: 1.6em;
       max-width: 90%;

  }

  h2.landing-subheader-h2{
    font-size: 16px;
  }

  .landing-text span.opening-line{
    font-family: 'Libre Franklin', Helvetica, sans-serif;
             font-weight: 800;
             color: #219a60;
             font-size: .9rem;
  }

  button.landing-button {
    bottom: 40px;
    font-size: 28px;
    font-weight: 300;
    height: 55px;
    padding: 8px 18px;
    position: absolute;
    margin-bottom: 15px;
    width: 100vw;
    max-width: 250px;
    text-transform: uppercase;
    background-color: #fce834;
    opacity: 0.5 !important;
    transition: opacity .3s;
    color: #2A2C33;
    border-radius: 5px;
  }
}

@media (max-width: 300px){
  .landing-text{
    width: 100%;
  }
  .landing-text p{
    font-family: 'Libre Franklin', Helvetica, sans-serif;
       text-align: justify;
       font-size: .6em;
       line-height: 2.4em;
       padding: 10px;
       width: 90%;
  }

  .landing-text span.opening-line{
    font-family: 'Libre Franklin', Helvetica, sans-serif;
     font-weight: 700;
     font-size: .8rem;
     margin-right: 5px;
  }

  button.landing-button {
    font-size: 20px;
    font-weight: 300;
    height: 45px;
    padding: 6px 10px;
  }
}

@media (max-width: 275px){
  .landing-text p{
    padding-left: 3px;
    margin-left: 0;
  }
}

@media (max-height: 611px){
  header.landing-header{
    padding-top: 0;
    margin-top: 0;
  }
  div.header-text.landing-page{
    margin-top: 15px;
    margin-bottom: 25px;

  }
  .landing-header-h1{
    margin-top: 0;
  }
  button.landing-button {
    position: static;
  }
  .landing-body{
    justify-content: space-between;
    height: 50vh;
    max-height: 50vh;
    min-height: 0;
  }
}

@media (max-height: 440px){
  h1.landing-header-h1{
    font-size: 3em;
    letter-spacing: 20px;
    padding-left: 16px;
    margin-bottom: 5px
  }
  div.landing-body{
    padding-top: 0;
  }
  div.landing-text > p{
    font-size: 12px;
  }
  button.landing-button{
    font-size: 24px;
  }
  div.header-text.landing-page{
    margin-top: 10px;
    margin-bottom: 18px;
  }
}
