@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.landing-body{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.earth-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 350px;
  height: 50vh;
}

.landing-text{
  max-width: 350px;

}

.landing-text p{
  text-align: justify;
  font-family: 'Libre Franklin', Helvetica, sans-serif;
     font-weight: 400;
     color: #2a2c33;
     font-size: .875em;
     line-height: 1.1em;

}

.landing-text span{
  font-family: 'Libre Franklin', Helvetica, sans-serif;
           font-weight: 900;
           color: #219a60;
           font-size: .875rem;
}

.landing-btn-div{

}

button.landing-button {
  bottom: 40px;
  font-size: 30px;
  font-weight: 300;
  height: 60px;
  padding: 8px 20px;
  position: absolute;
  margin-bottom: 15px;
  width: 100vw;
  max-width: 375px;
  text-transform: uppercase;
  background-color: #fce834;
  opacity: 0.6 !important;
  transition: opacity .3s;
  color: #2A2C33;
  border-radius: 5px;
}

button.landing-button:hover{
  background-color: #fce834;
  opacity: 1.0 !important;
  transition: opacity .3s;
}

.new-member-link{
  color: white;
  font-size: 24px;
  position: relative;
  bottom: 70px;
}

.landing-body{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 10px;
  flex: 1;
}

div.landing-button{
  flex-basis: 10vh;
  margin-bottom: 60px;
}
