.bug-report-icon-fixed-div{
  width: 100px;
  margin-left: 35vw;
  max-width: 903px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  bottom: 34px;
  height: 35px;
  z-index: 2;
}

.bug-report-icon-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  height: 35px !important;
  width: 35px !important;
  padding: 5px 5px 5px 8px;
  margin-right: 11px;
  border: 1px solid #1fa245;
  /* background-color: #2A2C33; */
  background-color: rgb(241, 246, 219);
  border-radius: 50%;
  z-index: 5;
}

.bug-report-icon-container:hover{
  -webkit-transform: scale(1.2);
}

.bug-prompt p{
  font-size: 10px;
  font-weight: bolder;
}

.bug-report-icon-container:hover .bug-prompt{
  display: flex !important;
  flex-direction: row;
  position: relative;
  right: 30px;
  color: #2a2c33;
  opacity: 1;
}

img.bug-report-icon-fixed{
  width: 90%;
  height: 90%;
  z-index: 5;
}
