.edit-header.invite-page{
  padding: 25px 0px 5px 0px;
  border-bottom: 1px dotted white;
  color: #2a2c33;
}

.invite-list-page{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100%;
  overflow: auto;
}

.invite-email-input{
  width: 100%;
  min-height: 40px;
}

form.inviteSomeone-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: 350px;
  padding: 0px !important;
  margin-top: 30px;
}

.inviteSomeone-form ul{
  margin-bottom: 10px;
  width: 420px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-email{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
  z-index: 1;
}

div.invite-row-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
  box-sizing: border-box;
}

li.email-input-email{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 320px;
}
li.email-input-email:not(.invited){
  margin-top: 10px;
}

li.email-input-email.invited{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 320px;
}

li.email-input-accepted{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 6px;
  width: 184px;
  text-align: right;
  padding-top: 10px;
}

li.email-input-accepted h5{
  font-size: 14px;
}

h5.email-text{
  max-width: 200px;
  overflow-x: hidden;
  font-size: 14px;
  height: 1.8em;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
label.invite-label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 280px;
  padding-left: 6px;
}

.invite-list-page h4{
  font-size: 30px;
  text-align: left;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

h4.leave-a-message{
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
}

.invite-invite-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}

.invite-sub-btn{
  background-color: #89868D;
  color: white;
  font-size: 0.9em;
}

.invite-invite-button{
  z-index: 0;
}

.invitation-textBox{
  margin: 5px 0px;
  font-family: 'Merriweather', serif;
  padding: 15px;
  max-width: 320px;
  box-sizing: content-box;
}

h5.accepted-text{
  font-size: 14px;
  font-style: italic;
}

label.invite-label textarea{
  font-size: 0.8em;
  max-width: 320px;
  box-sizing: border-box;
  color: #415B2F;
  padding-top: -5px;
}

label.invite-label textarea::-webkit-input-placeholder {
  padding-top: -5px;
  font-size: 1.1em;
}
label.invite-label textarea::-moz-placeholder {
  font-size: 1.1em;
  padding-top: -5px;

}
label.invite-label textarea:-ms-input-placeholder {
  font-size: 1.1em;
  padding-top: -5px;

}
label.invite-label textarea:-moz-placeholder {
  font-size: 1.1em;
  padding-top: -5px;
}

.invite-cancel-btn{
  border-radius: 20px;
  font-size: 20px;
  height: 24px;
  width: 24px;
  font-size: 14px;
  margin-right: 2vw;
  padding: 0;
  padding-bottom: 1px !important;
  padding-top: 2px !important;
}

.invite-cancel-div.invisible{
  visibility: hidden;
  margin-left: -35px;
}

@media (max-width: 700px){
  form.inviteSomeone-form{
    max-width: 320px;
    min-width: 320px;
  }
  .inviteSomeone-form ul{
    max-width: 350px;
  }
}

@media (max-width: 450px){
  /* div.invite-row-div{
    justify-content: center;
    align-items: center;
  }
  div.invite-row-div.invited{
    padding-left: 10vw;
  } */
  .invite-cancel-div.invisible{
    visibility: hidden;
    margin-left: -30px;
  }
  .inviteSomeone-form ul{
    max-width: 100%;
  }
  li.email-input-email{
    width: 100%;
  }
  li.email-input-email.invited{
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  li.email-input-accepted{
    /* align-items: center;
    padding-left: 6px;
    width: 184px; */
  }
  h5.accepted-text{
    font-size: 10px;
    font-style: italic;
  }
  .inviteSomeone-form ul{
    min-width: 0;
  }
  div.invite-row-div.invited{
    padding-left: 2vw;
  }
}

@media (max-width: 350px){
  label.invite-label textarea{
    font-size: 0.8em;
    max-width: 300px;
    box-sizing: border-box;
    color: #415B2F;
    padding-top: -5px;
  }
  .invite-invite-div{
    max-width: 310px;
  }
  h5.accepted-text{
    font-size: 10px;
    font-style: italic;
  }
  .inviteSomeone-form ul{
    min-width: 0;
  }
  label.invite-label{
    padding: 6px;
    box-sizing: border-box;
  }
  div.invite-row-div.invited{
    padding-left: 10px;
  }
  li.email-input-email.invited{
    width: 100%;
    max-width: 64%;
  }
  li.email-input-accepted{
    padding-left: 10px;
    width: 80px;
  }
  li.email-input-accepted h5{
    font-size: 10px;
    padding-right: 10px;
  }
}
