@import url('https://fonts.googleapis.com/css?family=PT+Serif');

.usrForm-cnt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.users-editform-container{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-family: 'PT Serif', serif;
  width: 100%;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
}

form.users-editform h4{font-size: 1.2em}

.users-editform-container input{
  font-size: 1.3em;
  text-align: center;
  max-width: 80%;
  min-height: 45px;
}

.users-editform-container input::placeholder{
  color: #415B2F;
}

h3.edit-header{
  font-size: 26px;
  margin: 20px 0px 25px 0px;
  font-family: 'PT Serif', serif;
  text-shadow: -1px -1px black;
  width: 300px;
  font-family: 'PT Serif', serif;
}

.users-editform{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 400px;
}

div.passwordUpdate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100px !important;
  max-width: 100px !important;
}

form.password-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 100%;
  max-width: 350px;
  margin: 0px;
  margin-left: -20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.expandable-password{
  display: flex;
  flex-direction: column;
  background-color: #2A2C33;
  max-width: 350px;
  /* width: 100vw; */
}

.passwordUpdate.expandable-listview_outerDiv{
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.expandable-password .expandable-listview_ul {
  margin: 0px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul.expandable-listview_ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expandable-listview_ul li div {
  justify-content: center;
  align-items: center;
}

.expandable-password ul.expandable-listview_ul div {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  width: 50vw !important;
  justify-content: flex-start;
  overflow-y: scroll !important;
}

.expandable-listview_fixedPosition {
  position : fixed;
  width : 383px;
  top: 0px;
}

.expandable-password .expandable-listview_listHeader {
  background-color: #2A2C33;
  height: 20px;
  width: 50vw !important;
  max-width: 200px;
  /* border: 1px solid white; */
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 4px 0px 4px 0px;
  font-size: 1.0em;
  color: #1fa245;
}

.expandable-listview_listItems {
  color: white;
  margin-left: 40px;
}

.confirm-password-container {
  display: flex;
  justify-content: center;
  position: inherit;
  bottom: 0;
  margin: 10px;
  width: 27vw;
  min-height: 70px;
}

button.change-pass-button{
  bottom: -10;
  border-radius: 4px;
  background-color: #2A2C33;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  padding: 10px 20px 10px 20px;
  position: inherit;
  width: 40vw;
  /* border-top: 2px black solid;
  border-bottom: 2px black solid; */
  text-shadow: 1px 2px black;
  color: #1fa245 !important;
}

.error-box-pass{
  font-size: 20px;
  margin: 20px;
  color: #ED3838;
  align-items: center;
  justify-content: center;
}

button.address-link{
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #2A2C33;
  font-size: 1.3em;
  color: #1fa245;
}

.form-outside-container{
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
}
