@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Merriweather');

.aboutus-page{
  width: 100vw;
  height: 100%;
  min-height: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 50px;
  padding-left: 280px;
  box-sizing: border-box;
}

.aboutus-div{
  width: 68%;
  padding-top: 20px;
}

.aboutus-page h1, h2, p{
  text-align: left;
}

.aboutus-page h1{
  font-family: 'Merriweather', serif;
  font-size: 56px;
  color: #219a60;
}

.aboutus-page h2{
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: #219a60;
  margin-top: 20px;
}

.aboutus-quote-div{
  max-width: 75%;
  margin: 20px 0px;
  margin-left: 20%;
  font-style: italic;
  padding-left: 20px;
  border-left: 8px solid rgba(42, 44, 51, 0.5) !important;
}

.aboutus-quote-aligner{

  display: flex;
  flex-direction: column;
}

.aboutus-quote-div span{
  text-align: right;
}

.aboutus-page p{
  font-family: "Libre Franklin", Garamond, sans-serif;
  font-size: 1em;
  line-height: 1.45em;
  font-weight: 400;
  color: #2a2c33;
  padding-top: 10px;
  margin: 10px 0px;
}


.aboutus-paragraphs{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 5px;
}

button.about-me-button {
  bottom: 40px;
  font-size: 28px;
  font-weight: 300;
  height: 60px;
  margin-top: 45px;
  margin-bottom: 15px;
  max-width: 245px;
  background: none;
  text-align: left;
  margin-left: 10%;
  padding-left: 55px;
  padding-top: 4px;
  opacity: 0.5 !important;
  transition: opacity .6s;
  color: #2A2C33;
  border-radius: 5px;
  box-sizing: content-box;
}

button.about-me-button:hover{
  background-color: #fce834;
  opacity: 0.6 !important;
  transition: background-color .6s;
}


@media (min-width: 975px){
  .aboutus-page h1{
    font-size: 50px;
  }
  button.about-me-button {
    margin-left: 16%;
  }
}

@media (max-width: 975px){
  .aboutus-page h1{
    font-size: 50px;
  }
}

@media (max-width: 900px){
  .aboutus-page {
    padding-left: 200px;
  }
}

@media (max-width: 750){
  .aboutus-page h1{
    font-size: 48px;
  }
}

@media (max-width: 667px){
  .aboutus-page h1{
    font-size: 44px;
  }
  .aboutus-page h2{
   font-size: 36px;
  }
  .aboutus-page p{
    font-size: 0.9em;
    line-height: 1.4em;
  }
}

@media (max-width: 500px){
  .aboutus-page {
    padding-top: 30px;
    padding-left: 80px;
  }
  .aboutus-div {
    width: 90%;
  }
}

@media (max-width: 460px){
  .aboutus-page{
    padding-left: 40px;
  }
  .aboutus-page h1{
    font-size: 42px;
  }
  .aboutus-page h2{
   font-size: 30px;
  }
  .aboutus-page p{
    font-size: 0.9em;
    line-height: 1.2em;
  }
  .aboutus-quote-div{
    max-width: 70%;
    margin-left: 20%;
    font-style: italic;
  }
}
@media (max-width: 370px){
  .aboutus-page{
    padding: 20px;
  }
  .aboutus-div {
    width: 80%;
  }
}
