@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Merriweather');

.aboutus-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
}

.aboutus-div{
  width: 75%;
}

.aboutus-page h1, h2, p{
  text-align: left;
}

.aboutus-page h1{
  font-family: 'Merriweather', serif;
  font-size: 56px;
  color: #219a60;
}

.aboutus-page h2{
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: #219a60;
  margin-top: 20px;
}

.aboutus-quote-div{
  max-width: 75%;
  margin: 10px 0px;
  margin-left: 20%;
  font-style: italic;
}

.aboutus-quote-aligner{
  display: flex;
  flex-direction: column;
}

.aboutus-quote-div span{
  text-align: right;
}

.aboutus-page p{
  font-family: "Libre Franklin", Garamond, sans-serif;
  font-size: 1em;
  line-height: 1.45em;
  font-weight: 400;
  color: #2a2c33;
  margin: 10px 0px;
}


.aboutus-paragraphs{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 5px;
}

.aboutus-quote-div{
  padding-left: 20px;
  border-left: 8px solid rgba(42, 44, 51, 0.5) !important;
}
@media (max-width: 750){
  .aboutus-page h1{
    font-size: 48px;
  }
}

@media (max-width: 667px){
  .aboutus-page h1{
    font-size: 44px;
  }
  .aboutus-page h2{
   font-size: 36px;
  }
  .aboutus-page p{
    font-size: 0.9em;
    line-height: 1.4em;
  }
}
@media (max-width: 460px){
  .aboutus-page{
    padding-top: 30px;
  }
  .aboutus-div {
    width: 90%;
  }
  .aboutus-page h1{
    font-size: 42px;
  }
  .aboutus-page h2{
   font-size: 30px;
  }
  .aboutus-page p{
    font-size: 0.9em;
    line-height: 1.2em;
  }
  .aboutus-quote-div{
    max-width: 70%;
    margin-left: 20%;
    font-style: italic;
  }
}
@media (max-width: 340px){
}
