.privacy-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.privacy-notice{
  width: 100%;
  max-width: 375px;
}

.privacy-form-div{
  width: 100%;
  max-width: 375px;
}

.privacy-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  width: 100%;
}

.privacy-header{
  font-size: 30px;
  text-align: center;
  padding: 0px 15px 10px 15px;
  font-weight: 300;
  font-weight: lighter;
  font-family: 'Merriweather', serif;
}

.privacy-text{
  margin: 5px 5px 2px 5px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.1em;
  padding: 5px 15px;
  background-color: white;
  color: #415B2F;
  text-indent: 30px;
  font-style: italic;
}

.privacy-text p{
  margin: 10px 0px;
}

.privacy-notice-checkbox{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: middle;
  height: 8vh;
  width: 100%;
  margin: 5px;
  background-color: #4c4e5b;
  color: white;
}

.privacy-notice-checkbox h4{
  font-size: 0.7em;
  height: 100%;
  text-align: left;
  position: relative;
  line-height: 1.3em;
  padding: 10px 0px 0px 15px;
}

.privacy-notice-checkbox h4 > span{

}

.privacy-notice-checkbox input{
  padding: 10px 0px 0px 0px;
}

.privacy-notice-checkbox .input-div{
  margin-top: 5px;
  height: 15%;
  width: 10%;
  position: relative;
  top: 3px;
  margin-right: 15px;
}

.accept-container{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

button.accept-privacy-notice-btn{
  height: 30px;
  width: 80px;
  font-size: 0.7em;
}

.accept-container button.decline{
  margin-right: 10px
}
.accept-container button.accept{
  margin-left: 10px;
}
