@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.carbon-no-bills{
  margin-top: 15vh;
  font-size: 20px;
  font-style: italic;
}
.bills-page-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  min-height: 1500px;
}

.bills-page-overlay{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.manage-bills-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  border-top: 3px solid #2A2C33;
  padding-top: 2px;
}

.manage-bills {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
  height: auto;
  min-height: 200px;
  padding: 5px !important;
  box-sizing: border-box;
  max-width: 1000px;
}
.bills-form-line1{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
  margin: 5px 0;

}
.bills-form-line2{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
  margin: 5px 0;
}
.bills-form-line3{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
  margin: 5px 0;
  margin-bottom: 60px;
  padding-top: 10px;
}

form.manage-bills > div{
  max-width: 320px;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  float: left;
  width: 40%;
  min-width: 315px;
  /* max-height: 100px; */
  /* min-height: 80px; */
  font-size: 0.8em;
  padding: 5px 5px 5px 0px;
  box-sizing: border-box;
  margin-right: 60px;
}

form.manage-bills input{
  font-family: "Libre Franklin", Garamond, sans-serif;
  font-size: 14px;
  background-color: white;
  color: #2a2c33;
  opacity: 0.8;
  max-width: 140px;
  border: 1px solid #c0c2c2;
  border-radius: 4px;
}
form.manage-bills input:focus{
  background-color: white;
  color: #2a2c33;
  opacity: 1.0;
}
form.manage-bills input:hover{
  background-color: white;
  color: #2a2c33;
  opacity: 100%;
}

form.manage-bills h5{
  padding-bottom: 5px;
  line-height: 1.8em;
  font-family: "Libre Franklin", Garamond, sans-serif;
  font-size: 14px;
}

.no-res-div{
  display: flex;
  flex-direction: column;
}

.no-res-div h5, p{
  width: 100%;
  text-align: left;
}

p.no_people_ptag{
  font-size: 0.8em;
}

h3.bills-title{
  margin-bottom: 6px;
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  padding-top: 18px;
}

h6.bill-type-header{
  text-align: left;
  width: 359px;
  /* font-family: 'Kaushan Script', cursive;
  font-size: 2em; */
  margin-left: 16px;
  margin-top: 16px;
  max-width: 400px;
  margin-bottom: 20px;
  font-size: 2.7em;
}

h4.bills-errors{
  margin-top: 40px;
}

.bills-button{
  width: 40%;
  min-width: 315px;
  height: 7vh;
  margin: 0;
  font-size: 14px;
  color: #2a2c33;
  background-color: #f5f5f5;
  border: none;
  opacity: 0.5;
  font-family: "Libre Franklin Semi-Bold", Garamond, sans-serif;
  border: 1px solid #c0c2c2;
  border-radius: 4px;
}

button.bills-button:hover{
  background-color: white;
  opacity: 1.0
}

.manage-bills-header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px dotted white;
  width: 100%;
  padding: 0;
  padding-top: 30px;
  margin: 0;
}

.manage-bills-overlay{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  width: 80%;
  min-width: 350px;
}

.manage-bills-overlay .data-title-container{
  min-width: 200px;
  margin-left: 13vw;
  color: #105130;
}

.manage-section-master-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 14%;
  margin-top: 8vh;
}

.section-title-row{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.arrow-div{
  display: flex;
  padding: 5px 0px 5px 7px;
  text-align: left;
  width: 36px;
  justify-content: center;
  align-items: flex-start;
  /* background-color: white; */
}
.section-title-div{
  color: #2a2c33;
  /* background-color: gray */
}

.section-title-div h1{
  font-size: 32px;
}
.section-content-div{}

.arrow-div-title-row svg{
  color: #105130;
}

.section-title-row div:active svg.fa-caret-right{
  transform: rotate(90deg);
  transition: all .2s;

}

.section-title-row div:active svg.fa-caret-down{
  transform: rotate(-90deg);
  transition: all .2s;
}

.fa-lg{
  font-size: 1.8em !important;
}

.fa-sm{
  font-size: 1em !important;
}

svg.fa-caret-down.fa-sm{
  display: none;
  position: absolute;
  right: 10px;
  top: 5px;
}

.section-content-div {
  height: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section-content-div.appear {
  margin-top: 14px;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: forwards;
  animation: appear 0.5s ease-in forwards;
}
.section-content-div.disappear {
  margin-top: 14px;
  -webkit-animation-name: disappearDiv;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: forwards;
  animation: disappearDiv 0.5s ease-in forwards;
  justify-content: flex-start;
  align-items: center;
}

.section-content{
  height: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.section-content.appear{
  -webkit-animation-name: appear;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: forwards;
  animation: appear 0.5s ease-in forwards;
}

.section-content.disappear{
  -webkit-animation-name: disappearDiv;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: forwards;
  animation: disappearDiv 0.5s ease-in forwards;
}


@keyframes appear {
  0% { opacity: 0; height: 0;}
  100% { opacity: 1; height: auto;}
}

@keyframes disappearDiv {
  0% { opacity: 1; height: auto}
  100% { opacity: 0; height: 0}
}


@media (max-width: 780px){
  .manage-bills-overlay{
    justify-content: center;
  }
  .manage-bills-header-container .data-title-container{
    margin-left: 2vw !important;
  }
}
@media (max-width: 750px){
  .manage-section-master-div{
    margin-left: 5vw;
    padding-left: 60px;
  }

}

@media (max-width: 667px){

  .bills-page-overlay > div{
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
  /* .manage-bills-overlay{
    width: 100%;
    min-width: 0;
    justify-content: center;
    margin: 0;
    padding: 0;
  } */
  .manage-bills-header-container{
    padding-top: 0;
  }
  .data-title-container h6{
    margin: 0;
  }
  /* .manage-section-master-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  } */
  .section-title-row{
    justify-content: flex-start;

  }
}
@media(max-width: 667px){
  .manage-bills-overlay .data-title-container{
    max-width: 100%;
    margin-left: 0 !important;
  }
  .manage-bills-overlay{
    padding-left: 0;
    width: 100%;
  }
  .bills-container{
    max-width: 90% !important;
    margin-left: 0;
    padding-left: 0;
  }
}

@media (max-width: 650px){
  .bills-page-container p, h1, h3, h5{
    font-size: -0.4em;
  }
  .checklist-form{
    max-width: 200px;
  }
}

@media (max-width: 468px){
  .manage-section-master-div{
    margin-left: 0;
    padding-left: 5px;
    box-sizing: border-box;
  }
  .section-content.appear{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-title-row{
    padding-left: 30px;
    margin: 0;
    box-sizing: border-box;
  }
  .checklist-dropdown{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  form.form-container.manage-bills{
    margin-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form.manage-bills > div{
    margin-right: 0;
  }
}

@media (max-width: 400px){
  form.manage-bills > div{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .section-title-row{
    padding-left: 15px;
  }
}
@media (max-width: 350px){
  form.manage-bills > div{
    display: flex;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding-left: 5vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
