@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.bills-page-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100vw;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.bills-page-overlay{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.manage-bills-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  max-width: 400px;
  margin-top: 20px;
  border-top: 3px solid #2A2C33;
  padding-top: 2px;
}

.manage-bills-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 350px;
  min-height: 300px;
  padding: 0;
  border-top: 2px solid white;
  justify-content: center;
  align-items: center;
}

.manage-bills {
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 0px !important;
  width: 100% !important;
}

.manage-bills input{
  background-color: white;
  color: black;
  text-shadow: 0.5px 0.5px 0.5px #1fa245;
  padding: 2px 5px;
  height: 28px;
  line-height: 18px;
  max-width: 170px;
  font-size: 13px;
}

.manage-bills input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  font-size: 13px;
  line-height: 18px;
  text-shadow: 0.5px 0.5px 0.5px #1fa245;
}

.manage-bills input::-moz-placeholder { /* Firefox 19+ */
  font-size: 13px;
  color: black;
  line-height: 22px;
  text-shadow: 0.5px 0.5px 0.5px #1fa245;
}

.manage-bills input:-ms-input-placeholder { /* IE 10+ */
  font-size: 13px;
  color: black;
  line-height: 22px;
  text-shadow: 0.5px 0.5px 0.5px #1fa245;
}

.manage-bills input:-moz-placeholder { /* Firefox 18- */
  font-size: 13px;
  color: black;
  line-height: 22px;
  text-shadow: 0.5px 0.5px 0.5px #1fa245;
}


input#calendar-1{
  font-size: 14px;
  color: black;
  text-shadow: 0.5px 0.5px 0.5px #1fa245;
  text-align: center;
}
input#calendar-2{
  font-size: 14px;
  color: black;
  text-shadow: 0.5px 0.5px 0.5px #1fa245;
  text-align: center;
}
input#no_residents{
  width: 35%;
  text-align: center;
  color: black;
  text-shadow: 0.5px 0.5px 0.5px #1fa245;
}

.bills-form-line1{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
  margin: 5px 0;

}
.bills-form-line2{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
  margin: 5px 0;
}
.bills-form-line3{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
  margin: 5px 0;
  margin-bottom: 60px;
  padding-top: 10px;
}

form.manage-bills label{
  padding: 5px 0px 5px 2px;
  height: 7vh;
  width: 45%;
  margin: 2px 2px;
  text-shadow: 1px 1px black;
}

form.manage-bills label.start-date-label{
}

.labels{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.labels h5{
  padding-bottom: 5px;
}

p.no_people_ptag{
  font-size: 0.8em;
  padding: 6px 0px;
}
p.no-bills-ptag{
  text-align :center;
}

label.bill-cost {
}

h3.bills-title{
  margin-bottom: 6px;
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  padding-top: 18px;
}

h6.bill-type-header{
  text-align: left;
  width: 359px;
  /* font-family: 'Kaushan Script', cursive;
  font-size: 2em; */
  margin-left: 16px;
  margin-top: 16px;
  max-width: 400px;
  margin-bottom: 20px;
  font-size: 2.7em;
}

h4.bills-errors{
  margin-top: 40px;

}

.bills-button-container {
  padding-top: 10px;
}

.bills-button{
  width: 120px;
  height: 60px;
  margin: 0;
  font-size: 14px;
  text-shadow: none;
  font-weight: 300;
}

.manage-bills-header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px dotted white;
  width: 100vw;
  padding: 0;
  padding-top: 30px;
  margin: 0
}

.manage-bills-overlay{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  width: 80%;
  min-width: 350px;
}

.manage-bills-overlay .data-title-container{
  min-width: 200px;
  margin-left: 13vw;
}

.manage-section-master-div{
  width: 100vw;
  justify-content: flex-start;
  align-items: flex-start;
}

.section-title-row{
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.arrow-div{
  display: flex;
  padding: 10px 0px 5px 7px;
  text-align: left;
  width: 36px;
  justify-content: center;
  align-items: flex-start;
  margin-left: 13vw;
  background-color: white;
}
.section-title-div{
  background-color: gray
}

.section-title-div h1{
  font-size: 32px;
}
.section-content-div{}

.arrow-div-title-row svg{
  color: #105130;
}

.section-title-row div:active svg.fa-caret-right{
  transform: rotate(90deg);
  transition: all .2s;
}

.section-title-row div:active svg.fa-caret-down{
  transform: rotate(-90deg);
  transition: all .2s;
}

.section-content-div {
  height: 0;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section-content-div.appear {
  height: auto;
  -webkit-animation-name: appear;
   -webkit-animation-duration: 0.5s;
   -webkit-animation-timing-function: forwards;
  animation: appear 0.5s ease-in forwards;
}
.section-content-div.disappear {
  height: auto;
  -webkit-animation-name: disappear;
   -webkit-animation-duration: 0.5s;
   -webkit-animation-timing-function: forwards;
  animation: disappearDiv 0.5s ease-in forwards;
}


.section-content{
  height: 0;
  width: 80%;
  margin-left: 20vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
.section-content.appear{
  height: 100px;
  -webkit-animation-name: appear;
   -webkit-animation-duration: 0.5s;
   -webkit-animation-timing-function: forwards;
  animation: appear 0.5s ease-in forwards;
}

.section-content.disappear{
  height: auto;
  -webkit-animation-name: disappear;
   -webkit-animation-duration: 0.5s;
   -webkit-animation-timing-function: forwards;
  animation: disappearDiv 0.5s ease-in forwards;
}


@keyframes appear {
  0% { opacity: 0}
  100% { opacity: 1; height: auto;}
}

@keyframes disappearDiv {
  0% { opacity: 1}
  100% { opacity: 0; height: 0}
}
