.login-signup-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.welcome-words{
  margin-top: 60px;
  max-width: 70vw;
  font-size: 1.5em;

}
form.login-form {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-around;
  color: black;
  font-weight: bold;
  max-width: 450px;
}

.login-button-container {
  flex-basis: 15vh;
}

div.login-form {
  border: 3px solid black;
  border-radius: 12px;
  padding: 20px 50px;
  background-color: #129941;
  margin-top: 10px;
}

.signin-input {
  border: 1px solid black;
}

.login-error-box{
  margin-top: 10px;
  font-size: 20px;
  color: #ED3838;
}

.arrow-firstLogin{
  position: absolute;
}

/*  arrow box */

.things > .content {
  float: left;
  width: 50%;
  height: 500px;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  position: absolute;
}

.things > .content h1 {
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150px;
  color: #89323B;
}

/* Arrow */

.arrow {
	position: absolute;
  margin: 0 auto;
  left: -150px;
  width: 100px;
}

.arrow .curve {
  margin-top: 90px;
	border: 2px solid white;
	border-color: transparent white transparent white;
	height: 260px;
	width: 1200px;
	border-radius: 230px 0 0 230px;
}

.arrow .point {
	position: absolute;
	left: 40px;
	top: 315px;
}

.arrow .point:before, .arrow .point:after {
	border: 1px solid white;
	height: 25px;
	content: "";
	position: absolute;
}

.arrow .point:before {
	top: -11px;
	left: -11px;
	transform:rotate(-74deg);
	-webkit-transform:rotate(-74deg);
  -moz-transform:rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow .point:after {
  top: -20px;
	left: 5px;
	transform:rotate(12deg);
	-webkit-transform: rotate(12deg);
  -moz-transform:rotate(12deg);
  -ms-transform: rotate(12deg);
}

/*   <div className="things">
    <div className="content">
      <div className="arrow">
        <div className="curve"></div>
        <div className="point"></div>
      </div>
    </div>
  </div> */
