@import url('https://fonts.googleapis.com/css?family=PT+Serif');
/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background-color: white;
  color: white;
}

.app-container {
  text-align: center;
  padding-top: 70px;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Libre Franklin', Helvetica, sans-serif;
  font-size: 1em;
  color: #2a2c33;
}

#app-background-image{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./img/background.jpeg');
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: rgb(241, 246, 219);
}

form {
  padding: 0 10%;
  font-size: 18px;
  display: flex;
}

input {

  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  /* font-size: 14px;
  height: 22px; */
  margin: 6px 0;
  outline: none;
  padding: 6px;
  /* width: 98%; */
}

input:focus {
  /* border: 6px solid #79c278;
  opacity: 100%;
  transition: opacity .3s; */
  /* box-shadow: 0 0 15px rgba(72, 205, 11, 1); */
}

select {
  background-color: white;
  border-radius: 5px;
  border-style: none;
  border: 0;
  font-size: 14px;
  height: 26px;
  margin: 8px 0;
  padding: 2px;
  width: 98%;
}

/* button {
  border: none;
  border-radius: 4px;
  color: white;
  max-width: 400px;
  font-size: 1.1em;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
  background-color: #1fa245;
  color: black;
} */

button:hover {
  cursor: pointer;
}

a {
  color: #2a2c33;
}

a:hover{
  cursor: pointer;
}

.expandable-checklist:hover{
  cursor: pointer;
}

input:hover{
  cursor: pointer;
}

@media (min-width: 800px){
  #app-background-image{
    background-size: 100vw 100vh;
  }
}

@media (max-width: 370px){
  #app-background-image{
    background-image: url();
    background-color: rgb(241, 246, 219);
  }
  .bug-report-icon-fixed-container{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 20px;
    right: 40px;
    margin-right: 0px;
  }
  img.cc-logo{
    z-index: 1;
  }
  svg.shrunken-hamburger-menu{
    z-index: 1;
  }
  img.bug-report-icon-fixed{
    width: 10vw;
  }
}
