@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Merriweather');
/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', Helvetica, sans-serif;
  height: auto;
}

html {
  background-color: white;
  color: #89868D;
}

.app-container {
  text-align: center;
  padding-top: 70px;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Libre Franklin', Helvetica, sans-serif;
  font-size: 1em;
  color: #89868D;
}

#app-background-image{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./img/background.jpeg');
  background-repeat: center repeat-y;
  background-size: auto 100%;
  padding-top: 10vh;
  opacity: 0.2;
  z-index: -1;
  width: 100vw;
  height: 100%;
  min-height: 600px;
  background-color: #E3E7D5;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover
}

form {
  padding: 0;
  font-size: 18px;
  display: flex;
  width: 100vw;
}

input {

  border-style: none;
  box-sizing: border-box;
  /* font-size: 14px;
  height: 22px; */
  margin: 6px 0;
  outline: none;
  padding: 6px;
  /* width: 98%; */
}

input::-webkit-input-placeholder {
    padding: -5px;
    margin: 0;
    padding-top: -15px;
}

select {
  background-color: white;
  border-radius: 5px;
  border-style: none;
  border: 0;
  font-size: 14px;
  height: 26px;
  margin: 8px 0;
  padding: 2px;
  width: 98%;
}

button {
  color: white;
  font-family: "Libre Franklin", Garamond, sans-serif;
  background-color: #105130;
  margin: 2vh 0px;
  width: 100%;
  max-width: 350px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

a {
  color: #2a2c33;
}

a:hover{
  cursor: pointer;
}

.expandable-checklist:hover{
  cursor: pointer;
}

input{
  font-family: 'Merriweather', serif;
  opacity: 0.5;
  font-size: 14px;
}

input:hover{
  cursor: pointer;
  opacity: 1.0;
}

input::-webkit-input-placeholder {
  font-size: 1.2em;
  padding: 3px 0px 3px 5px;
  height: 20px;
  line-height: 18px;
}
input::-moz-placeholder {
  font-size: 1.2em;
  padding: 3px 0px 3px 5px;
  height: 20px;
  line-height: 18px;
}
input:-ms-input-placeholder {
  font-size: 1.2em;
  padding: 3px 0px 3px 5px;
  height: 20px;
  line-height: 18px;
}
input:-moz-placeholder {
  font-size: 1.2em;
  padding: 3px 0px 3px 5px;
  height: 20px;
  line-height: 18px;
}

@media (max-width: 600px){
  #app-background-image{
    background: #F1F6DB;
    opacity: 0.8;
  }
}

@media (max-width: 370px){
  .bug-report-icon-fixed-container{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 20px;
    right: 40px;
    margin-right: 0px;
  }
  img.cc-logo{
    z-index: 1;
  }
  svg.shrunken-hamburger-menu{
    z-index: 1;
  }
  img.bug-report-icon-fixed{
    width: 10vw;
  }
}
