@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua');

header.header {
  display: flex;
  flex-flow: row, nowrap;
  justify-content: center;
  padding-top: 15px;
  margin-top: 20px;
}

header.landing-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 15px;
  margin: 0px;
  margin-top: 20px;
}

.landing-header-h1{
  margin-top: 80px;
  font-family: 'Merriweather', Garamond, serif;
  font-size: 4em;
  font-weight: 300;
  color: #219a60;
}

.landing-subheader-h2{
  font-family: 'Libre Franklin', Helvetica, sans-serif;
  font-weight: 300;
  color: #2a2c33;
  letter-spacing: 19.0px;
  padding-left: 15px;
  text-align: center;
}

.header-img-container {
  width: 100px;
  height: auto;
  display: inline-block;
}

header img {
  max-width: 100%;
  height: auto;
}

div.header-text {
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  text-align: left;
  margin-top: 0;
  width: 180px;
}

div.header-text.landing-page {
  margin-top: -20px;
  margin-bottom: 20px;
  width: auto;
  text-align: center;
  font-weight: bold;
  /* text-shadow: -2px 2px black; */
  font-size: 1.4em;
  color: rgb(240,245,245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 350px;
}

header h1 {
  font-size: 2.5em;
}

.cc-img{
  width: 100px;
  height: 100px;
}
