/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500'); */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");



div.header-navbar{
  border-bottom: 2px solid #1fa245;
  /* border-bottom: 2px solid rgb(70,138,199); */
  position: fixed;
  display: block;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  color: white;
  width: 100vw;
  align-items: center;
  background-color: black;
  z-index: 1;
}

.navbar-logo-menu-div{
  text-align: left;
  font-size: 1.3em;
  color: #219a60;
  padding-left: 40px;
  padding-bottom: 5px;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.svg-icon{
  margin-top: -5px;
}

.landing-navbar{
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 5px 0px 5px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 64px;
  background-color: #f5f5f5 !important;
  border-bottom: 1px solid rgb(192,194,194);
  box-sizing: border-box;
}

.main-navbar{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: #f5f5f5 !important;
  border-bottom: 1px solid rgb(192,194,194);
  box-sizing: border-box;
}

div.landing-navbar-links{
  margin-left: 5vw;
  margin-right: 20px;
}

form.landing-navbar-login-form{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
  max-width: 70vw;
}

img.log-svg{
  padding-bottom: 5px;
}

img.dash-logo.landing{
  padding-top: 3px;
  padding-bottom: 1px;
}

input.login-bar{
  font-size: 1.0em;
  min-width: 280px;
  max-width: 350px;
  color: green;
  text-align: center;
  background-color: #f5f5f5 !important;
  padding-right: 40px;
}

input.login-bar::-webkit-input-placeholder{
  font-family: 'Libre Franklin', Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.1em;
  text-align: center;
  padding-right: 10px;
  color: rgb(192,194,194);
}

.cc-logo{
  margin-right: 30vw;
  margin-left: 25px;
}

header {
  display: flex;
  flex-flow: row, nowrap;
  padding-top: 15px;
}

.header-icons{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

ul.navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

ul.navbar li:hover{
  cursor: pointer;
}
ul.navbar li.landing-nav-link.spacer:hover{
  cursor: pointer;
}

li.header-button:not(.unloaded){
  margin-top: 5px;
  display: inline-block;
  align-items: baseline;
  vertical-align: top;
  justify-content: center;
}

li.header-button.bills{
  margin-top: 7px;
}

li.landing-nav-link{
  line-height: 2.5em;
}
li.landing-nav-link:not(.contactUs){
  margin-right: 40px;
  line-height: 2.5em;
}

li.landing-nav-link.spacer{
  margin-top: 8px;
}

li.landing-nav-link.hamburger{
  padding-top: 5px;

}

li.landing-nav-link a:hover{
  color: rgb(76, 137, 193);
}

.login-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 10px;
  border: 1px solid rgb(192,194,194);
  opacity: 35%;
  transition: opacity .3s;
  border-radius: 5px;
}

.login-div.highlighted{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 0px 10px;
    border: 6px solid #79c278;
    opacity: 100%;
    transition: opacity .3s;
    /* box-shadow: 0 0 15px rgba(72, 205, 11, 1); */
}

.log-grey{
  background: url('./img/log_grey.svg') no-repeat;
  height: 26px;
}

.log-green{
  background: url('./img/log_green.svg') no-repeat;
  height: 26px;
}

.navbar img {
  padding: 2px;
  opacity: 0.7;
}

.navbar img:hover:not(.log-svg):not(.homepage){ -webkit-transform: scale(1.2); opacity: 1.0}

.shrunken-hamburger-menu{
  display: none;
}

.navbar-logo-menu-div.unloaded{
  display: none;
}

.hamburger-menu{
  font-size: 24px;
  padding-top: 5px;
  margin-right: 10px;
  color: black;
  width: 28px !important;
  opacity: 0.7;
}

.hamburger-menu:hover{
  color: rgb(251,230,73);
  font-size: 27px;
  -webkit-transform: scale(1.1);
  opacity: 1.0;
  /* background-color: rgb(223,223,223); */
  /* box-shadow: 0px 0px 10px rgb(251,230,73) !important; */
}

.hamburger-menu-landing{
  font-size: 24px;
  margin-right: 10px;
  margin-top: -3px;
  color: black;
}

.hamburger-menu-landing:hover{
  color: rgb(251,230,73);
  -webkit-transform: scale(1.1);
  /* background-color: rgb(223,223,223); */
  /* box-shadow: 0px 0px 10px rgb(251,230,73) !important; */
}

.loader {
    border: 2px solid #6E6B6B; /* Light grey */
    border-top: 2px solid #129941; /* Blue */
    border-bottom: 2px solid #129941; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

.visible{
  display: block;
}

.shrunken-subnav{
  display: none;
}

img.homepage{
  display: block;
}
img.not-homepage{
  display: block;
}

img.dropdown-logo{
  display: none;
}

form.shrunken-landing-navbar-login-form{
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
  margin-top: -5px;
}

.passwordReset-div{
  position: absolute;
  top: 65px;
  color: #89868D;
  width: 180px;
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  margin-left: -10px;
}
.passwordReset-div:hover{
  opacity: 1;
}
.passwordReset-hide > h6.passwordReset{
  display: none;
}
.passwordReset-div > h6.passwordReset{
  display: block;
}
h6.passwordReset > span{ color: #1fa245}
h6.passwordReset > span:hover{
    cursor: pointer;
}

@media (min-width: 1251px){
  .cc-logo.unloaded{
    margin-right: 30vw;
  }
}
@media (min-width: 1350px){
  .cc-logo.unloaded{
    margin-right: 33vw;
  }
}
@media (min-width: 1500px){
  .cc-logo.unloaded{
    margin-right: 34vw;
  }
}
@media (min-width: 1600px){
  .cc-logo.unloaded{
    margin-right: 35vw;
  }
}
@media (min-width: 1800px){
  .cc-logo.unloaded{
    margin-right: 37vw;
  }
}
@media (min-width: 1980px){
  .cc-logo.unloaded{
    margin-right: 38vw;
  }
}


@media (max-width: 1250px){
  .cc-logo.unloaded{
    margin-right: 29vw;
  }
}
@media (max-width: 1200px){
  .cc-logo.unloaded{
    margin-right: 28vw;
  }
}
@media (max-width: 1050px){
  .cc-logo.unloaded{
    margin-right: 27vw;
  }
}
@media (max-width: 1000px){
  .cc-logo.unloaded{
    margin-right: 26vw;
  }
}

@media (max-width: 1020px){
  .cc-logo.unloaded{
    margin-right: 25vw;
  }
}

@media (max-width: 980px){
  .cc-logo.unloaded{
    margin-right: 24vw;
  }
}

@media (max-width: 940px){
  .cc-logo.unloaded{
    margin-right: 23vw;
  }
}


@media (max-width: 900px){
  div.landing-navbar-links{
    /* margin-left: 8vw; */
  }
  .cc-logo.unloaded{
    margin-right: 22vw;
  }
  .passwordReset-div{
    margin-left: -15px;
  }
  input.login-bar{
    font-size: 1.0em;
    min-width: 200px;
    max-width: 280px;
    padding-right: 40px;
  }
  input.login-bar::-webkit-input-placeholder{
    font-family: 'Libre Franklin', Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;
    padding-right: 10px;
    color: rgb(192,194,194);
  }

}


@media (max-width: 880px){
  .cc-logo.unloaded{
    margin-right: 21vw;
  }
}

@media (max-width: 850px){
  .cc-logo.unloaded{
    margin-right: 20vw;
  }
}

@media (max-width: 780px){
  div.landing-navbar-links{
    /* margin-left: 5vw; */
  }
  .navbar-logo-menu-div{
    width: 40vw;
  }
  .cc-logo.unloaded{
    margin-right: 18vw
  }
}


@media (max-width: 667px){
  form.landing-navbar-login-form{
    margin-left: 20px;
  }
  .navbar-logo-menu-div.loaded{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  div.landing-navbar-links{
    display: none;
  }
  .passwordReset-div{
    margin-left: 0;
  }
  .landing-navbar.unloaded{
    padding-left: 5px;
  }
  img.cc-logo.homepage.unloaded {
    padding-right: 40px;
    margin-left: 0px;
    margin-right: 50px;
  }
  img.cc-logo.homepage.loaded {
    display: none;
  }
  img.cc-logo.not-homepage.loaded {
    display: none;
  }
  .main-navbar{
    justify-content: center;
  }
  .shrunken-hamburger-menu{
    display: block;
  }
  .shrunken-hamburger-menu:hover{
    font-size: 24px;
  }
  img.dropdown-logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .shrunken-subnav{
    display: flex;
    flex-direction: row;
    padding: 3px 10px;
    justify-content: space-around;
  }
}
@media (max-width: 650px){
  form.landing-navbar-login-form{
    margin-left: 10px;
  }
}
@media (max-width: 620px){
  form.landing-navbar-login-form{
    margin-left: 0px;
  }
}
@media  (max-width: 560px){
  .landing-navbar.unloaded{
    padding-left: 5px;
  }
  img.cc-logo.homepage.unloaded {
    padding-right: 30px;
    margin-left: 0px;
    margin-right: 30px;
  }
}

@media (max-width: 495px){
  form.landing-navbar-login-form{
    margin-left: -70px;
  }
  .landing-navbar.unloaded{
    justify-content: space-around;
  }
  .cc-logo.unloaded{
    margin: 0;
  }
}

@media (max-width: 460px){
  input.login-bar{
    font-size: 1.0em;
    width: 90%;
    max-width: 300px;
    padding-right: 40px;
  }
  .login-div{
    width: 85%;
    max-width: 350px;
    margin-top: 20px;
    margin-left: 15px;
  }
  .landing-navbar{
    height: 100px;
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .navbar-logo-menu-div{
    padding-left: 0;
    width: 100vw;
    height: 100px;
  }
  .navbar-logo-menu-div.unloaded{
    display: flex;
    height: 100px;
    max-width: 70vw;
  }
  .passwordReset-hide{
    display: none;
    top: 0px;
  }
  .passwordReset-div{
    position: static;
    top: 0px;
  }
  .cc-logo.unloaded{
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 23px;
    left: 23px;
  }
  form.shrunken-landing-navbar-login-form{
    display: flex !important;
    max-width: 80vw;
  }
  form.landing-navbar-login-form{
    display: none;
  }
}

@media (max-width: 400px){
  input.login-bar{
    max-width: 200px;
  }
  .login-div{
    max-width: 260px;
  }
}

@media (max-width: 340px){
  img.cc-logo.unloaded{
    display: none;
  }
  .login-div{
    width: 100%;
    margin-top: 20px;
    padding-left: 0px;
    margin-left: 0vw;
  }
  .navbar-logo-menu-div.unloaded{
    display: flex;
    height: 100px;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
  }
  form.shrunken-landing-navbar-login-form{
    display: flex !important;
    max-width: 80vw;
  }
  .navbar-logo-menu-div{
    padding: 0;
  }
}

@media (max-width: 300px){
  .log-svg{
    width: 18px !important;
  }
  input.login-bar{
    width: 70%;
  }
  input.login-bar::-webkit-input-placeholder{
    padding-left:0px;
  }
  form.shrunken-landing-navbar-login-form{
  }
}

@media (min-width: 940px){
  .passwordReset-div{
    margin-left: -2vw;
  }
}

@media (max-height: 611px){
  input.login-bar{
  }
  .landing-navbar.unloaded{
    padding: 0;
  }
}

@media (max-height: 440px){

}
