/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500'); */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");



div.header-navbar{
  border-bottom: 2px solid #1fa245;
  /* border-bottom: 2px solid rgb(70,138,199); */
  position: fixed;
  display: block;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  color: white;
  width: 100vw;
  align-items: center;
  background-color: black;
  z-index: 1;
}

.navbar-logo-menu-div{
  text-align: left;
  font-size: 1.3em;
  color: #219a60;
  padding-left: 40px;
  padding-bottom: 5px;
  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.svg-icon{
  margin-top: -5px;
}

.landing-navbar{
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 5px 0px 5px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 64px;
  background-color: #f5f5f5 !important;
  border-bottom: 1px solid rgb(192,194,194);
  box-sizing: border-box;
}

.main-navbar{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: #f5f5f5 !important;
  border-bottom: 1px solid rgb(192,194,194);
  box-sizing: border-box;
}

div.landing-navbar-links{
  min-width: 25vw;
  margin-left: 10vw;
}

form.landing-navbar-login-form{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
}


img.log-svg{
  padding-bottom: 5px;
}

img.dash-logo.landing{
  padding-top: 6px;
}

input.login-bar{
  font-size: 1.0em;
  min-width: 280px;
  max-width: 350px;
  color: green;
  text-align: center;
  background-color: #f5f5f5 !important;
  padding-right: 40px;
}

input.login-bar::-webkit-input-placeholder{
  font-family: 'Libre Franklin', Helvetica, sans-serif;
  font-size: 1.1em;
  text-align: center;
  padding-right: 10px;
  color: rgb(192,194,194);
}

.cc-logo{
  margin-right: 25vw;
}

header {
  display: flex;
  flex-flow: row, nowrap;
  padding-top: 15px;
}

.header-icons{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

ul.navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.navbar li:hover{
  cursor: pointer;
}

li.header-button{
  margin-top: 5px;
  display: inline-block;
  align-items: baseline;
  vertical-align: top;
  justify-content: center;
}

li.landing-nav-link{
  margin-right: 40px;
  line-height: 2.5em;
}

li.landing-nav-link.hamburger{
  padding-top: 5px;
}

li.landing-nav-link a:hover{
  color: rgb(76, 137, 193);
}

.login-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 10px;
  border: 1px solid rgb(192,194,194);
  opacity: 35%;
  transition: opacity .3s;
  border-radius: 5px;
}

.login-div.highlighted{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 0px 10px;
    border: 6px solid #79c278;
    opacity: 100%;
    transition: opacity .3s;
    /* box-shadow: 0 0 15px rgba(72, 205, 11, 1); */
}

.log-grey{
  background: url('./img/log_grey.svg') no-repeat;
  height: 26px;
}

.log-green{
  background: url('./img/log_green.svg') no-repeat;
  height: 26px;
}

.navbar img {
  padding: 2px;
}

.navbar img:hover:not(.log-svg):not(.homepage){ -webkit-transform: scale(1.2); background-color: rgb(221,221,221); box-shadow: 0px 0px 10px rgb(251,230,73) !important}

.shrunken-hamburger-menu{
  display: none;
}

.hamburger-menu{
  font-size: 24px;
  padding-top: 5px;
  margin-right: 10px;
  color: black;
}

.hamburger-menu:hover{
  color: rgb(251,230,73);
  font-size: 27px;
}

.hamburger-menu-landing{
  font-size: 24px;
  margin-right: 10px;
  margin-top: -3px;
}

.hamburger-menu-landing:hover{
  color: rgb(251,230,73);
}

.loader {
    border: 2px solid #6E6B6B; /* Light grey */
    border-top: 2px solid #129941; /* Blue */
    border-bottom: 2px solid #129941; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

.visible{
  display: block;
}

.shrunken-subnav{
  display: none;
}

img.homepage{
  display: block;
}
img.not-homepage{
  display: block;
}

img.dropdown-logo{
  display: none;
}

form.shrunken-landing-navbar-login-form{
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
}

@media (max-width: 900px){
  div.landing-navbar-links{
    min-width: 25vw;
    margin-left: 12vw;
  }

  input.login-bar{
    font-size: 1.0em;
    min-width: 200px;
    max-width: 280px;
    padding-right: 40px;
  }

  input.login-bar::-webkit-input-placeholder{
    font-family: 'Libre Franklin', Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;
    padding-right: 10px;
    color: rgb(192,194,194);
  }

}

@media (max-width: 780px){
  div.landing-navbar-links{
    min-width: 0px;
    margin-left: 20vw;
  }
  form.landing-navbar-login-form{
    margin-left: 20px;
  }
  .navbar-logo-menu-div{
    width: 40vw;
  }
  .cc-logo.unloaded{
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 18px;
    left: 23px;
  }
}


@media (max-width: 667px){
  form.landing-navbar-login-form{
    margin-left: 0px;
  }
  .navbar-logo-menu-div.unloaded{
    width: 50px;
  }
  .navbar-logo-menu-div.loaded{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  div.landing-navbar-links{
    display: none;
  }
  img.cc-logo.homepage.loaded {
    display: none;
  }
  img.cc-logo.not-homepage.loaded {
    display: none;
  }
  .main-navbar{
    justify-content: center;
  }
  .shrunken-hamburger-menu{
    display: block;
  }
  .shrunken-hamburger-menu:hover{
    font-size: 24px;
  }
  img.dropdown-logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .shrunken-subnav{
    display: flex;
    flex-direction: row;
    padding: 3px 10px;
    justify-content: space-around;
  }
}

@media (max-width: 460px){
  input.login-bar{
    font-size: 1.0em;
    width: 90%;
    max-width: 300px;
    padding-right: 40px;
  }
  .login-div{
    width: 85%;
    max-width: 350px;
    margin-top: 20px;
    margin-left: 15px;
  }
  .landing-navbar{
    height: 100px;
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .navbar-logo-menu-div{
    width: 100vw;
    height: 100px;
  }
  .navbar-logo-menu-div.unloaded{
    width: 100vw;
    height: 100px;
  }
  .cc-logo.unloaded{
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 23px;
    left: 23px;
  }
  form.shrunken-landing-navbar-login-form{
    display: flex !important;
  }
  form.landing-navbar-login-form{
    display: none;
  }
}

@media (max-width: 400px){
  input.login-bar{
    max-width: 200px;
  }
  .login-div{
    max-width: 260px;
  }
}

@media (max-width: 340px){
  img.cc-logo.unloaded{
    display: none;
  }
  .login-div{
    width: 85%;
    margin-top: 20px;
    padding-left: 0px;
    margin-left: 5vw;
  }
  .navbar-logo-menu-div{
    padding: 0;
  }
}

@media (max-width: 300px){
  .log-svg{
    width: 18px !important;
  }
  input.login-bar{
    width: 70%;

  }
  input.login-bar::-webkit-input-placeholder{
    padding-left:0px;
  }
  form.shrunken-landing-navbar-login-form{
  }
}
