@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

.billyear-container{
  padding-top: 10px;
  overflow-x: scroll;
  padding-bottom: 10px;
  min-height: 180px;
  font-family: "Libre Franklin", Helvetica, sans-serif;
}

.bills-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  padding: 0px 5px 5px 5px;
  width: 100%;
  min-height: 500px;
  max-width: 80%;
  overflow-x: visible;
}

.bills-container-2{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: flex-start;
  width: 100%;
  overflow-x: visible;
  padding: 2px 0;
  margin-bottom: 80px;
  text-align: center;
}

.bills-page-div{
  width: 97%;
  align-self: center;
  max-height: 375px;
  overflow-y: scroll;
  padding: 0px;
  border-style: inset;
  border: 3px solid #2a2c33;
  border-radius: 6px;
  background-color: white;
  margin-left: 15px;
}

.bill-container{
  font-size: 0.9em;
  max-height: 200px;
  height: 35px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 725px;
  margin-left: 3px;
}

.bills-titles{
  position: sticky;
  position: -webkit-sticky;
  font-size: 1.1em;
  max-height: 30px;
  padding: 5px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 728px;
  background-color: #89868D;
  border-top: 1px solid #2a2c33;
}

.bills-page-header{
  font-size: 1.8em;
  padding: 20px 5px;
  overflow-x: visible;
  border-bottom: 1px solid white;
  margin-top: 60px;
}

.no-bills-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  padding: 15px 0px 35px 0px;
  margin: 20px 0 0 0;
  min-height: 175px;
}

.billyear{
  width: 80px;
  font-size: 1.5em;
  padding-bottom: 8px;
}

.no-bills-title{
  margin-bottom: 45px;
  width: 100%;
  text-align: center;
}

.no-bills-ptag{
  width: 100%;
  text-align: center;
}

.add_new_arrow{
  margin-top: 10px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  top: 6px;
  color: rgb(31, 152, 69) !important;
}

.past-bill-title{
  margin: 0 2px;
  padding: 8px 2px 2px 2px;
  margin-bottom: 0px;
  min-width: 100px;
  max-width: 120px;
}

.past-bill-title.no-residents{
  margin-top: 0px !important;
}

.past-bill-title.daily-avg{
  margin-top: 0px !important;
  margin-left: 5px;
}

.past-bill-stat{
  margin: 0 2px;
  padding: 0px 2px 0px 0px;
  margin-bottom: 0px;
  min-width: 100px;
  max-width: 120px;
}

.past-bill-stat.who-div{
  margin-left: -5px;
}

.past-bill-stat.no_residents{
  margin-left: 15px;
  min-width: 40px;
  width: 40px;
}

.past-bill-stat.cost{
  margin-left: 5px;
}

.past-bill-stat.avg_use{
  margin-left: 55px;
}

.past-bill-stat h3.values{
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 90px;
  overflow-x: scroll;
  font-family: 'Merriweather', serif;
  opacity: 0.5;
  font-size: 14px;
  padding-top: 5px;
  color: #2a2c33;
}

.past-bill-stat input.values{
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9em;
  max-width: 90px;
  overflow-x: scroll;
  background-color: inherit;
}

.past-bill-stat input.values.larger{
  max-width: 110px;
}
.past-bill-stat h3.values.larger{
  max-width: 110px;
}

.past-bill-stat input.values.smaller{
  max-width: 50px;
}

.past-bill-stat h3.values.smaller{
  max-width: 50px;
}

.past-bill-stat input.values.cost{
  max-width: 90px;
}

.bills-page-div h3{
  width: auto;
  min-width: 100px;
  max-width: 180px;
  margin: 0;
  margin-top: 0 !important;
}

h3.sml{
  color: green;
  padding: 2px;
  margin: 2px 0;
  font-size: 15px;
  padding: 3px;
  height: 25px;
}

h3.sml.used{
  font-size: 1.1em;
  align-items: center;
  line-height: 20px;
}

h3.cost{
  text-align: left;
  margin-left: 5px;
}

h3.xtra{
  font-size: 14px;
  height: 25px;
  padding-right: 10px;
  vertical-align: baseline;
  align-items: baseline;
  color: white;
  font-family: "Libre Franklin Semi Bold", Helvetica, sans-serif;
  text-shadow: none !important;
}

h3.avg{
  margin-top: -3px !important;
}

span.bill-time.italic{
  font-style: italic;
}

span.bill-time{
  vertical-align: baseline;
}

.arrow-bills{
  height: 20px;
  width: 100%;
  justify-content: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.swap_vert{
  height: 10px;
  width: 10px;
  color: #6E6B6B !important;
}

.white-space{
  height: 25px;
  padding-top: 1px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.bill-no{
  width: 1px;
}
.bill-no-text{
  color: rgb(245,245, 245);
  margin: 2px 0 0 4px;
}

.bill-delete-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-left: 5px;
}

.bill-delete-btn{
  height: 15px;
  width: 15px;
  background-color: #89868D;
  color: white;
  font-size: 0.6em;
  padding: 0;
  padding-top: 1px;
  margin: 0;
}

@media (max-width: 1100px){
  .bills-page-div h3{
    font-size: 0.8em;
    width: auto;
    min-width: 100px;
    max-width: 120px;
    margin: 0;
    margin-top: 0 !important;
  }
  .wide-cell{
    min-width: 120px;
  }
  h3.avg{
    margin-top: -10px !important;
  }
}

@media (max-width: 1000px){
  .bills-page-div h3{
    font-size: 0.7em;
    width: auto;
    min-width: 0px;
    max-width: 100px;
    margin: 0;
    margin-top: 0 !important;
  }
  .wide-cell{
    min-width: 120px;
  }
  h3.avg{
    margin-top: -6px !important;
  }
}

@media (max-width: 447px){
  .bills-container{
    max-width: 95% !important;
  }
}


@media (max-width: 400px){

  .bills-titles{
    font-size: 1.1em;
    max-height: 30px;
    padding: 5px 0px 5px 0px;
    width: 100%;
    min-width: 650px;
  }
}

@media (min-width: 1026px){
  div.past-bill-stat.cost{
    margin-left: 2vw;
  }
  .bill-delete-div{
    margin-top: -2px;
    margin-left: -1px;
  }
}

@media (min-width: 1060px){
  div.past-bill-stat.avg_use{
    margin-left: 75px;
  }
  div.past-bill-stat.cost{
    margin-left: 3vw;
  }
}
