@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');


.bills-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  padding: 0px 5px 5px 5px;
  width: 100vw;
  min-height: 500px;
  max-width: 350px;
  overflow-x: visible;
}

.bills-container-2{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  overflow-x: visible;
  padding: 2px 0;
  margin-bottom: 80px;
  text-align: center;
}

.bills-page-div{
  width: 97%;
  max-width: 350px;
  align-self: center;
  max-height: 375px;
  overflow-y: scroll;
  padding: 0px;
  border-style: inset;
}

.bill-container{
  font-size: 0.9em;
  max-height: 200px;
  height: 35px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  max-width: 93%;
  margin-left: 3px;
}

.bills-titles{
  position: sticky;
  position: -webkit-sticky;
  font-size: 1.1em;
  max-height: 30px;
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.bills-page-header{
  font-size: 1.8em;
  padding: 20px 5px;
  overflow-x: visible;
  border-bottom: 1px solid white;
  margin-top: 60px;
}

.no-bills-container{
  font-size: 1.2em;
  padding: 85px 0px 45px 0px;
  margin: 20px 0 0 0;
  min-height: 175px;
}

.billyear-container{
  border-top: 1px solid #1fa245;
  padding-top: 20px;
  overflow-x: scroll;
  padding-bottom: 30px;
  min-height: 180px;
}

.billyear-bills-container{
}

.billyear{
  width: 80px;
  font-size: 1.2em;
}

.no-bills-title{
  margin-bottom: 15px;
}

.no-bills-link{
  display: block;
  height: 30px;
  align-items: center;
}

.add_new_arrow{
  margin-top: 10px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  top: 6px;
  color: rgb(31, 152, 69) !important;
}

.past-bill-stat{
  margin: 0 2px;
  padding: 0px 2px 0px 0px;
  margin-bottom: 0px;
  min-width: 80px;
  max-width: 100px;
}

.past-bill-stat.usage{
  margin-left: 20px;
}

.past-bill-stat.cost{
  margin-left: -8px;
}
.past-bill-title{
  margin: 0 2px;
  padding: 8px 2px 2px 2px;
  margin-bottom: 0px;
  min-width: 80px;
  max-width: 100px;
}



.past-bill-title.no-residents{
  margin-top: 0px !important;
}

.past-bill-title.daily-avg{
  margin-top: 0px !important;
  margin-left: 5px;
}
.past-bill-stat h3.values{
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9em;
}

h3.sml{
  color: green;
  padding: 2px;
  margin: 2px 0;
  font-size: 15px;
  padding: 3px;
  height: 25px;
}


h3.sml.used{
  font-size: 1.1em;
  align-items: center;
  line-height: 20px;
}
h3.sml.cost{
  font-size: 1.2em;
  line-height: 40px;
}

/* h3.sml.carbon{
  font-size: 1.2em;
  text-shadow: 1px 1px black;
  width: 50%;
  line-height: 20px;
  position: relative;
  margin-top: 28px;
  margin-right: 10px;
} */

/* h3.sml.number{
  font-family: 'Black Ops One', cursive;
  max-width: 45%;
  text-shadow: 1px 1px black;
} */

/* h3.sml.number.carbon{
  font-family: 'Black Ops One', cursive;
  font-size: 1em;
  border-radius: 50%;
  max-width: 80px;
  line-height: 10px;
  margin-top: 22px;
  text-align: right;
  margin-left: 10px;
} */

.past-bill-title.usage{
  margin-left: -15px;
  margin-right: 15px;
}

h3.xtra{
  margin: 2px 0;
  font-size: 14px;
  padding: 3px;
  height: 25px;
  padding-right: 10px;
  vertical-align: baseline;
  align-items: baseline;
}

h3.xtra.wide{
  width: 90px;
}

h3.avg{
  margin-top: -23px !important;
  padding: 0px 5px;
}

span.bill-time.italic{
  font-style: italic;
}

span.bill-time{
  vertical-align: baseline;
}

.arrow-bills{
  height: 20px;
  width: 100%;
  justify-content: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.swap_vert{
  height: 10px;
  width: 10px;
  color: #6E6B6B !important;
}

.white-space{
  height: 25px;
  padding-top: 1px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.bill-no{
  width: 1px;
}
.bill-no-text{
  color: rgb(245,245, 245);
  text-shadow: 0 0 2px #4c4e5b;
  margin: 2px 0 0 4px;
}
