@import url('https://fonts.googleapis.com/css?family=PT+Serif');

.signup-page-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  max-width: 400px;
}

.signup-form h3{
  font-family: 'Merriweather', serif;
  padding: 25px 0px 5px 0px;
  border-bottom: 1px dotted white;
  color: #2a2c33;
  width: 90%;
  max-width: 400px;
}

.signup-form label{
  width: 90%;
  max-width: 400px;
}

.signup-button-container {
  flex-basis: 10vh;
  margin-bottom: 80px;
  margin-top: 0;
  width: 90%;
  max-width: 400px;
}

.signup-error-box{
  margin-top: 10px;
  padding: 8px;
  font-size: 20px;
  color: #ED3838;
}

.form-submit.signup-btn-submit {
  width: 90%;
  max-width: 400px;
  background-color: #89868D;
  color: white;
  font-size: 0.9em;
}

h4.new-user-label{
  font-family: "PT Serif", serif;
  font-size: 1.2em;
  padding-bottom: 10px;
}
