

.carbon-calcs-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather", Garamond, serif;
}

.carbon-calcs-notice{
  width: 100%;
  max-width: 375px;
}

.carbon-calcs-form-div{
  width: 100%;
  max-width: 375px;

}

.carbon-calcs-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  width: 100%;
}
.carbon-calcs-header{
  text-align: left;
  width: 320px;
  /* font-family: 'Kaushan Script', cursive;
  font-size: 2em; */
  margin-left: 16px;
  margin-top: 16px;
  padding: 0px 10px 15px 10px;
  max-width: 320px;
  font-size: 2.7em;
  border-bottom: 1px dotted white;
}

.carbon-calcs-text{
  margin: 5px 5px 2px 5px;
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.1em;
  padding: 15px 15px 280px 15px;
  color: #2A2C33;
  text-indent: 30px;
  font-weight: bold;
}

.carbon-calcs-text p{
  padding: 20px 0px 20px;
  max-width: 355px;
  min-width: 355px;
  box-sizing: border-box;
}

p.carbon-calculation{
  text-align: left;
  padding-right: 60px;
  margin-left: -10px;
  font-size:  20px;
}

p.carbonfund-link-p{
  text-align: right;
  margin-left: -20px;
  min-width: 355px;
  padding-right: 10px;
  font-weight: lighter;
}

a.carbonfund-link{
  font-weight: lighter;
  margin-left: 10px;
}
