@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

div.settings-dropdown{
  padding-top: 20px;
  background-color: white;
}

div.settings-header{
  margin: 0;
  margin-bottom: 8px;
  padding: 10px;
  background-color: rgb(47, 157, 102);
  margin-top: -10px;
  color: white;
}

div.settings-email{
  padding: 10px;
  text-align: left;
}
div.settings-email p{
  margin: 5px 0;
  text-shadow: -1px 1px 1px black;
}

div.settings-email p.first{

}
div.settings-email p.second{
  margin-left: 10px;
}
div.settings-page{
  width: 94vw;
  background-color: white;
  color: black;
  padding-left: 10px;
  height: 620px;
}

ul.options-list{
  display: flex;
  width: 85vw;
  list-style-type: none;
  margin: 0;
  padding-bottom: 10px;
  text-align: left;
  font-size: 24px;
  border-bottom: 0.5px solid grey;
}

ul.options-list:hover{
  background-color: rgb(245,245,245);
}

ul.options-list:hover li{
  -webkit-transform: scale(1.05)
}

.settings-page span.material-icons{
  vertical-align: middle;
  padding-top: 25px;
}

li.setting-icon{
  float: left;
  width: 25%;
  margin-left: 10vw;
  line-height: 76px;
  align-content: center;
}

li.setting-icon span{
  z-index: 3;
}

li.setting-desc{
  float: left;
  padding-top: 8px;
  width: 190px;
  line-height: 76px;
  font-size: 0.9em;
  margin-left: -10px;
  z-index: 3;
}

li.setting-icon:hover{
  cursor: pointer
}

li.setting-desc:hover{
  cursor: pointer;
}

li.setting-desc-first{
  color: rgb(47, 157, 102);
  margin-left: 6px;
  width: 75%;
}
